h1{
  text-align: center;
}

.dates{
  float:left;
  width:15%;
  border: 2px solid black;
  padding-left: 30px;
  margin-left: 15px;


}

.main{
  float:left;
  width: 60%;
  padding-left: 60px;
}

img {
  width: 50%;
  padding-left: 50px;
}

body{
  background-color: darkred;
}
