.intro{
  font-family: 'Anton', sans-serif;
  padding-bottom: 30px;

}

.one{
  background-color: #24478f;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 50px;
}

.two{
  background-color: #24478f;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.three{
  background-color:#24478f;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading{
  background-color: #ebf0fa;
  color: black;
  font-family: 'Anton', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fs{
  color: red;
}
