.intro{
  font-family: 'Anton', sans-serif;
  
}

.one{
  background-color: #24478f;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.two{
  background-color: #24478f;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.three{
  background-color:#24478f;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.heading{
  background-color: #ebf0fa;
  color: black;
  font-family: 'Anton', sans-serif;
}
